ul,li,a,p{
    margin: 0;
    padding:0;
}
a{
    text-decoration: none;
}
.main_content{
    width: 100%;
    height: 100%;
    min-width: 1366px;
    min-height: 768px;
}
#heard_common{
    height: 94px;
    width:100%;
    background:#094b91;
}
.title_top{
    height: 40px;
    width:100%;
    background: #eeeeee;
    text-align: center;
    line-height: 40px;
    font-size: 19px;
}
.search_same{
    margin:10px;
}
.record_search,.screen_two{
    height:132px;
    background: #f2f2f2;
    border:1px solid #e4e4e4;
}
.record_text,.screen_text{
    margin-left: 13%;
    font-size: 18px;
    margin-right: 5%;
    margin-top: 49px;
    display: inline-block;
}
.screen_text{
 float: left;
}
.search_case{
    height: 37px;
    width:575px;
    border:1px solid #a9a9a9;
    margin-right: 5%;
}
.record_search p{
    font-size: 11px;
    color: #999999;
    margin-left:24.5%;
}
.inspect_sele,.reject_sele,.handle_sele,.inspect_nosele,.reject_nosele,.handle_nosele{
    display: inline-block;
    width: 234px;
    height: 48px;
    border:1px solid #cccccc;
    border-radius: 4px;
    line-height: 48px;
    text-align: center;
    font-size: 13px;
}
.inspect_sele,.reject_sele,.handle_sele{
    visibility:hidden;
}
.inspect_sele,.reject_sele,.handle_sele{
    margin: 9px 60px 16px 0;
    background: #48b6e6;
    color: white;
}
.inspect_sele:hover,.reject_sele:hover,.handle_sele:hover{
    background: #0a4b92;
}
.inspect_nosele:hover,.reject_nosele:hover,.handle_nosele:hover{
    background:#48b6e6;
    color: white;
}
.inspect_nosele,.reject_nosele,.handle_nosele{
    margin-right: 60px;
    color: #989898;
}
.info_top{
    width: 616px;
    height:31px;
    margin-top: 10px;
    margin-left: 27%;
}
.info_top li{
    list-style: none;
    float: left;
    width: 112px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin-right:10px;
    border: 1px solid #cccccc;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background: -webkit-linear-gradient(top,#d0d0d0,#e8e8e8,#fafafa);
}
.info_top li:hover{
   border: 1px solid #11759f;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    background:#3fb1e2;
    color: white;
}
.info_top .select_color{
    border: 1px solid #11759f;
    border-bottom:none;
    border-radius: 3px 3px 0 0;
    background:#3fb1e2;
    color: white;
}
.info_car,.dirvers_pep{
    width:1260px ;
    height: 558px;
    border:1px solid #11759f;
    margin-left: 4%;
}
.info_tou{
    height: 34px;

}
.info_tou p:first-of-type{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
.info_tou p:last-of-type{
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}
#car_total,#car_total1{
    color: #3399ff;
    font-weight: bold;
}
.info_content{
    width: 1233px;
    height:44px;
    background: #0a4b92;
    margin-left: 10px;
    margin-top: 10px;
    border:1px solid #11759f;
}
.info_content .car_type{
    float: left;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    margin-left: 28px;
}
.info_content p:last-of-type{
    float: right;
    margin-right: 16px;
    margin-top: 10px;
}
.info_content p:last-of-type a{
    display: inline-block;
    color: white;
}
.info_content p:last-of-type a:hover{
    text-decoration: underline;
    color: #3399ff;
}
.car_information{
    height: 128px;
    width:1233px;
    margin-left: 10px;
    border:1px solid #11759f;
}
.car_img,.car_one,.weifa,car_wei,.car_one1{
    float: left;
}
.car_img{
    margin-left: 4px;
    margin-top: 4px;
}
.car_one{
    margin-left: 84px;
    margin-top: 8px;
}
.car_one1{
    margin-top: 8px;
    margin-left: 150px;
    margin-right: 86px;
}
.weifa{
    width: 430px;
    height: 127px;
    border-left: 1px solid #11759f;
}
.weifa .car_wei{
    float: left;
}
.car_wei p{
    width: 129px;
    height: 34px;
    border:1px solid #f4f4f4;
    background: #f4f4f4;
    line-height: 34px;
    text-align: center;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 6px;
}
.result_car{
    height: 49px;
    width:1233px;
    margin-left: 10px;
    border:1px solid #11759f;
    border-top:none;
    font-size: 13px;
    line-height: 49px;
    padding-left: 20px;
}
.result_car span,.car_one1 p:nth-of-type(2) span:last-of-type{
    color: red;
}

