<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>河北省高速总队数据分析平台首页</title>

	 <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/home_page.css">
  <script type="text/javascript" src="../js/echarts.js"></script>

	 <style type="text/css">
        /* --------------覆盖样式表文件里的样式，请勿移动   begin ----------------*/
        table tr:nth-child(2n) {
            background: none;
        }

        table td {
            border: none;
            padding: 0;
            color:#FFFFFF;
        }

        table td:last-child {
            border: none;
        }

        .amap-logo,.amap-copyright {
            z-index: -1;
        }

        /* --------------覆盖样式表文件里的样式，请勿移动   end ----------------*/
    </style>

</head>
<body>
	
    <div class="body-content">
          
        <div class="layout-top">

                <div id="head-nav" class="navbar navbar-default navbar-fixed-top" style="background-color:#0d043d;border-bottom:1px solid #013c82; width: 100%;height: 8%">
                <input type="hidden" name="contextPath" value="">
               
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                            <span class="fa fa-gear"></span>
                        </button>
                        <a href="#" class="navbar-brand" style="margin-top:6px;    width: 324px;"><img style="display: inline-block; vertical-align: middle;width: 48px"  alt="Avatar" src="../img/logo.png"><span style="display: inline-block; font-size: 24px; vertical-align: middle; margin-left: 11px; color: white;">重点车辆监管专题</span></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        
                        <ul class="nav navbar-nav navbar-right user-nav">
                            <li class="dropdown profile_menu"><a href="#" data-toggle="dropdown" class="dropdown-toggle" style="margin-top:15px;"><img alt="Avatar" src="../img/avatar2.png"><span><c:out value="${user.userName}"/></span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<%= request.getContextPath()%>/downloadAlarmClient">下载报警客户端</a></li>
                                    <li><a href="<%= request.getContextPath()%>/updatePwd">修改密码</a></li>
                                    <li><a href="logout">退出</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul id="main-category-list" class="nav navbar-nav navbar-right not-nav" >
                            <li class="active"><a href="http://localhost/dome/%E6%B2%B3%E5%8C%97/hebei.html" style="padding: 0px"><img src="../img/ksh_selected.png"></a></li>

                            <li><a href="<%=basePath %>/web-dap"  style="padding: 0px"><img src="../img/gnqd_normal.png"></a></li>
                        </ul>


                      </div>
                  </div>
               </div>

        </div>
        <div class="layout_middle">
             <div class="top_content">
                   <div>
                       <p class="top_top">全省交通流量( 今日累计 ) : </p>
                        <div class="top_bottom">
                            <div class="flow_total"><span>19414578</span>辆</div>
                            <div class="flow_rate">日环比 <span>1.0%</span><img src="../img/top.png" alt=""></div>
                        </div>

                   </div>
                   <div>
                         <p class="top_top">全省当前通行车辆数( 今日累计 ) : </p>
                        <div class="top_bottom">
                            <div class="flow_total"><span>1021424</span>辆</div>
                            <div class="flow_rate">日环比 <span>1.0%</span><img src="../img/top.png" alt=""></div>
                        </div>
                   </div>
                   <div>
                        <p class="top_top">本月全省事故数 : </p>
                        <div class="top_bottom">
                            <div class="flow_total"><span>19414578</span>辆</div>
                            <div class="flow_rate">日环比 <span style="color: #06d020;">1.09%</span><img src="../img/bot.png" alt=""></div>
                        </div>
                   </div>
                   <div>
                         <p class="top_top">本月全省事故数 : </p>
                        <div class="top_bottom">
                            <div class="flow_total"><span>19414578</span>辆</div>
                            <div class="flow_rate">日环比 <span style="color: #06d020;">1.0%</span><img src="../img/bot.png" alt=""></div>
                        </div>
                   </div> 
             </div>
             <div class="bottom_content">
                  <div id="bottom_left">
                       <p>违法类型排名<span>TOP5</span><span>(单位: 次)</span></p>
                       <div id="illegl_type">
                          
                       </div>
                  </div>
                  <div id="bootem_right">
                        <p>事故占比</p>
                        <div id="accident_rate" style="width: 100%; height: 92%;">
                            
                        </div>
                  </div>
             </div>
        </div>

    </div>

 <script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="../js/china.js"></script> -->
    <script type="text/javascript" src="../js/home_page.js"></script>
</body>
</html>